MSSQL_SA_PASSWORD="LavawaySqlDev2026!"
ConnectionStrings__CarWashSaaS="Server=localhost,1433;Database=CarWashSaaS;User Id=sa;Password=LavawaySqlDev2026!;Encrypt=True;TrustServerCertificate=True"
Storage__Minio__Endpoint="localhost:9000"
Storage__Minio__Bucket="lavaway-private"
Storage__Minio__AccessKey="lavaway"
Storage__Minio__SecretKey="LavawayMinioDev2026"
RABBITMQ_DEFAULT_USER="lavaway"
RABBITMQ_DEFAULT_PASS="LavawayRabbitDev2026"
Messaging__RabbitMq__Uri="amqp://lavaway:LavawayRabbitDev2026@localhost:5672/"