MSSQL_SA_PASSWORD="LavawaySqlDev2026!"
ConnectionStrings__CarWashSaaS="Server=localhost,1433;Database=CarWashSaaS;User Id=sa;Password=LavawaySqlDev2026!;Encrypt=True;TrustServerCertificate=True"
Storage__Minio__Endpoint="localhost:9000"
Storage__Minio__Bucket="lavaway-private"
Storage__Minio__AccessKey="lavaway"
Storage__Minio__SecretKey="LavawayMinioDev2026"
RABBITMQ_DEFAULT_USER="lavaway"
RABBITMQ_DEFAULT_PASS="LavawayRabbitDev2026"
Messaging__RabbitMq__Uri="amqp://lavaway:LavawayRabbitDev2026@localhost:5672/"
Authentication__Authority="http://localhost:5000"
Authentication__Issuer="http://localhost:5000"
Authentication__Audience="CarWashSaaS.Client"
Authentication__SigningKey="LavawayDefaultSecretKeyForJwtTokens2026!MustBeAtLeast256Bits"

# Configurações do Seeder de Desenvolvimento (Ambiente Local)
Seed__AdminEmail="admin@lavaway.com"
Seed__AdminPassword="Admin123!"
Seed__ReceptionEmail="recepcao@lavaway.com"
Seed__ReceptionPassword="Recepcao123!"
Seed__TenantId="11111111-1111-1111-1111-111111111111"
Seed__TenantName="Lavaway Matriz - Estética & Lava-Jato"